@model Facebook.Models.ViewModels._HeaderModel
@{
    int numofnot = 0;
}
<header class="header">
    <nav class="fixed-top navColor navbar navbar-expand-lg shadow-sm ">

        <div class="facebook-icon ms-2">
            <a asp-action="Index"><i class="fa-brands fa-facebook" style="background-color: white; border-radius: 50%;"></i></a>
        </div>

        <div class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0">
                <div class="inputBox" id="searching">
                    <span class="fas fa-search"></span>
                    <input id="searchUser" type="search" placeholder="Search Facebook">
                </div>
            </form>
        </div>

        <div class="d-flex">
            <div class="icons">
                <div class="SmallUser">
                    <img src="@Model.User.ProfileImage" alt="facebook user">
                    <a style="text-decoration:none;" asp-action="Index">@Model.User.FirstName</a>
                </div>
            </div>

            <div class="Notification-container shadow-lg ">
                @{
                    int flag = 0;
                    <h3> Notifications</h3>
                    @foreach (var friend in (List<UserFriend>)Model.Friends) {
                        foreach (var user in (List<User>)Model.Users) {
                            if (friend.UserId == user.Id) {
                                <div class="singel-notfication">
                                    <img src="@user.ProfileImage" alt="">
                                    <div class="content lastContent">
                                        <a asp-controller="User" asp-action="GetUser" asp-route-Id="@user.Id">
                                            <p><span>@user.FirstName @user.SecondName</span> sent you a friend request.</p>
                                        </a>
                                        <div class="lastContentLinks">
                                            <a asp-controller="User" asp-action="AddFriend" asp-route-friendId="@friend.UserId" asp-route-userId="@Model.User.Id" class="btn btn-primary text-light my-1">Accept</a>
                                            <a asp-controller="User" asp-action="Decline" asp-route-friendId="@Model.User.Id" asp-route-userId="@friend.UserId" class="btn btn-light my-1 shadow-sm">Decline</a>
                                        </div>
                                    </div>
                                </div>
                                numofnot = numofnot + 1;
                                flag = 1;
                            }
                        }
                    }
                    if (flag == 0) {
                        <div class="singel-notfication text-danger">
                            <span class="text-danger text-bold">You haven't any notification</span>
                        </div>
                    }
                }
            </div>

            
            <div class="icons position-relative">
                <i class="fa-solid fa-bell" id="bell"></i>

                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @numofnot
                </span>
            </div>
            <div class="icons">
                <i class="fa-solid fa-arrow-down" id="arrow"></i>
            </div>
            <div class="Logout-container shadow-lg ">
                <div class="small-info">
                    <img src="@Model.User.ProfileImage" alt="">
                    <p>@Model.User.FirstName @Model.User.SecondName</p>
                </div>
                <div class="text-end d-none">
                    <input type="radio" id="light" name="mode" value="light">
                    <br>
                    <input type="radio" id="dark" name="mode" value="dark">
                </div>
                <div class="small-element">
                    <a asp-controller="User" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Log Out </a>
                </div>
            </div>

            <div id="searchResult" class="Search-container  shadow-lg ">
            </div>

        </div>
    </nav>
</header>

<script type="text/javascript">

    var newsObj = [];
    let newArr=[];

    (function () {

    @foreach (var item in (List<User>)Model.Users) {

        @:newsObj.push({
        @:Id:@item.Id,
        @:Fname: "@item.FirstName",
        @:Sname: "@item.SecondName",
        @:Email:"@item.Email",
        @:Phone:"@item.Phone",
        @:ProfileImage:"@item.ProfileImage.Insert(4,"\\")"});
    }
    })();

    let searshBtn= document.querySelector("#searchUser");
    let searchResult= document.querySelector("#searchResult");

    if(searshBtn!=null){
        searshBtn.addEventListener("keyup",()=>{
            let val=searshBtn.value;
            newArr=[];
            newsObj.forEach(item=>{
                let x=`${item.Fname} ${item.Sname}`
                if(item.Email.includes(val)||item.Phone.includes(val)||x.toLowerCase().includes(val.toLowerCase())){
                    newArr.push(item);
                }
            })
            let data="";
            newArr.forEach(item=>{
                data+=`
                    <div class="search-element">
                        <a href="/User/GetUser/${item.Id}">
                            <img class="rounded" src="${item.ProfileImage}" alt="">
                            <span class="ms-1">${item.Fname} ${item.Sname}</span>
                        </a>
                    </div>
                `
            })
            searchResult.innerHTML=data;
        })
    }
</script>

