@model Facebook.Models.ViewModels.UserProfileViewModel

<section>
    <div class="parentOverlay" id="parentOverlayDiv">
    </div>
    <div class="container">
        <div class="row">
            <!--user Data-->
            <div class="col-lg-5 offset-lg-1">
                <div class="card boxesCards">
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">Intro</h4>
                        <div class="d-flex flex-column detailsDiv">
                            <span><i class="fa-solid fa-user"></i>@Model.User.FirstName @Model.User.SecondName</span>
                            <span><i class="fa-solid fa-at"></i> @Model.User.Email</span>
                            @if (Model.User.City != null) {
                                <span><i class="fa-solid fa-location-pin"></i> @Model.User.City</span>
                            }
                            @if (Model.User.Country != null) {
                                <span><i class="fa-solid fa-earth-americas"></i> @Model.User.Country </span>
                            }
                            <span><i class="fa-solid fa-phone"></i> @Model.User.Phone</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Posts-->
            <div class="col-lg-5 ">
                <!--Posts-->
                @await Html.PartialAsync("_ListUserPosts",Model)
            </div>
        </div>
    </div>
</section>